@charset "utf-8";


@font-face {
    font-family: 'NeueMachina';
    src: url(../font/NeueMachina-Regular.otf) format('opentype');
   }

@font-face {
    font-family: 'NeueMachina';
    src: url(../font/NeueMachina-Light.otf) format('opentype');
   }
   
